<h1 class="mb-4 text-center">Refurbiked - My Bikes</h1>

<div class="container">
  <div class="row">
    <% @bikes.each do |bike| %>
    <% orders = Order.where(bike_id: bike) %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-body">
            <h2 class="h5 font-weight-bold"><%= bike.brand %> (<%= bike.year %>)</h2>
            <p class="text-muted"><strong>Type:</strong> <%= bike.bike_type %></p>
            <p class="text-muted"><strong>Color:</strong> <%= bike.color %></p>
            <p class="text-muted"><strong>Price per day:</strong> $<%= bike.price %></p>
            <p class="text-muted"><strong>Bike added:</strong> <%= bike.created_at %></p>
            <ul><strong>Confirmed bookings:</strong>
              <% orders.each do |order| %>
                <% if order.status == "confirmed" %>
                  <li>
                    <p>Booked by: <%= order.user.email %></p>
                    <p>From: <%= order.rental_date %></p>
                    <p>To: <%= order.rental_date_end %></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <ul><strong>Pending bookings:</strong>
              <% orders.each do |order| %>
                <% if order.status == "pending" %>
                  <li>
                    <p>Requested by: <%= order.user.email %></p>
                    <p>From: <%= order.rental_date %></p>
                    <p>To: <%= order.rental_date_end %></p>
                    <%= link_to "Accept booking", set_confirmed_path(order), data: { turbo_method: :patch } %>
                    <%= link_to "Reject booking", set_rejected_path(order), data: { turbo_method: :patch } %>
                  </li>
                <% end %>
              <% end %>
            <%= link_to "Delete bike", bike_path(bike), class:"btn btn-outline-danger",
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete this bike and all of the associated bookings?"
              }
            %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <p><strong>Add a bike</strong></p>
            <%= simple_form_for @bike do |f| %>
              <%= f.input :photo, as: :file %>
              <%= f.input :bike_type %>
              <%= f.input :brand %>
              <%= f.input :year %>
              <%= f.input :color %>
              <%= f.input :price %>
              <%= f.submit "Add bike" %>
            <% end %>
          </div>
        </div>
      </div>

  </div>


</div>
