<h1>Hello orders index</h1>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
  <% @orders.each do |order| %>
    <div class="p-4 border rounded-lg shadow-lg bg-white m-2">
      <h2 class="text-xl font-bold"><%= link_to order.rental_date, bike_path(order.bike) %></h2>
      <p class="text-gray-600"><%= order.bike.brand %></p>
      <p class="text-gray-600"><%= order.bike.year %></p>
      <p class="text-gray-600"><%= order.bike.color %></p>
    </div>
  <% end %>
  <div class="mt-4">
    <%= link_to "Back to Listings", root_path, class: "btn btn-secondary" %>
  </div>
</div>
