
<div class="container" style="margin-top:50px;">
  <div class="row">

    <% @bikes.each do |bike| %>
      <div class="col-md-4 mb-4">
        <div class="card-sl">
          <div class="card-image">
            <%= cl_image_tag bike.photo.key %>
          </div>

         <!-- <a class="card-action" href="#"><i class="fa fa-heart"></i></a> -->


          <div class="card-heading">
            <%= bike.brand %> (<%= bike.year %>)
          </div>

          <div class="card-text">
            <strong>Type:</strong> <%= bike.bike_type %>
            <strong>Color:</strong> <%= bike.color %>
            <strong>Owner:</strong> <%= bike.user.username %>
            <strong>Area:</strong> <%= bike.area %>

          </div>

          <div class="card-text">
            <strong>Price:</strong> <%= bike.price %><strong>€</strong>
          </div>
            <%= link_to "View details", bike_path(bike), class: "card-button" %>
            <!-- <a href="#" class="card-button"> Rent now!</a> --->
        </div>
      </div>
    <% end %>

  </div>
</div>
