<%= @bike.bike_type %>
<%= @bike.brand %>
<%= @bike.year %>
<%= @bike.color %>

<%= simple_form_for [@bike, @order] do |f| %>
  <div class="btn btn-primary">
    <%= f.input :rental_date,
                as: :string,
                input_html: { data: { controller: "datepicker"}}
    %>
  </div>
  <div class="btn btn-primary">
    <%= f.input :rental_date_end,
                as: :string,
                input_html: { data: { controller: "datepicker"}}
    %>
  </div>
    <%= f.submit "Borrow now!" %>
<% end %>

<%# Back to Listings Button %>
<div class="mt-4">
  <%= link_to "Back to Listings", root_path, class: "btn btn-secondary" %>
</div>
