<%= @bike.bike_type %>
<%= @bike.brand %>
<%= @bike.year %>
<%= @bike.color %>

<%= simple_form_for [@bike, @order] do |f| %>
  <%= f.input :rental_date %>
  <%= f.submit "Buy now!" %>
<% end %>

<%# Back to Listings Button %>
<div class="mt-4">
  <%= link_to "Back to Listings", root_path, class: "btn btn-secondary" %>
</div>
