<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: user_session_path, method: :post) do |f| %>
  <div class="form-inputs">
    <!-- Username or Email Field -->
    <%= f.input :login, required: true, autofocus: true, input_html: { autocomplete: "username email" }, label: 'Username or Email' %>

    <!-- Password Field -->
    <%= f.input :password, required: true, input_html: { autocomplete: "current-password" }, label: 'Password' %>

    <!-- Remember Me -->
    <%= f.input :remember_me, as: :boolean, input_html: { class: 'checkbox' } if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
